registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false
strict-ssl=true

# Limpa qualquer configuração do Nexus
noproxy=*
proxy=null
https-proxy=null